.task-status {
    color: var(--info);
    align-self: center;
}
.task-status.in-progress {
    color: var(--warning);
}
.task-status.completed {
    color: var(--success);
}

.emp-task-detail-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.emp-view-task-detail-start-n-end{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Mobile (all screens below 768px) */
@media only screen and (max-width: 768px) {
    .emp-view-task-detail-start-n-end{
        flex-direction: column;
        justify-content: start;
        gap: 15px;
    }

    .App-timeline-task-title-container {
        flex-direction: column !important;
        gap: 0px !important;
    }

    .App-timeline-time {
        display: flex;
        flex-direction: row;
        font-size: 13px;
        color: var(--secondary-text);
        margin-bottom: 5px;
        margin-right: auto !important;
        margin-left: 0px !important;
        gap: 5px;
        align-items: center;
        color: #6c6c6c;
        min-width: 143px;
        }
}